body {
    font-family:cursive;
    text-align: center;
    margin: 200px;
    background-color: #44d3ad;
    color: #3d3a3a;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.4em;
    margin: 20px 0;
  }
  
  img {
    width: 100px;
    border-radius: 50%;
    margin: 35px 0;
  }
  
  a {
    font-family:sans-serif;
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  